.navbar-brand {
  font-family: 'Oswald', sans-serif;
  background-blend-mode: luminosity;
}

body {
  text-align: center;
  color: #40514E;
  font-family: cursive;
}

h1 {
  color: #28237a;
  font-family: 'Great Vibes', cursive;
}

h2,h3 {
  padding: 25px auto;
  color: #28237a;
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
  font-weight: lighter;
}

p {
  font-weight: bold;
  line-height: 2;
}

hr {
  margin: 50px auto;
  padding: inherit;
  border: dotted #EAF6F6 5px;
}

a{
  margin: 10px 10px;
  color: #9fda90;
}

a:hover {
  color: #EAF6F6;
}

.container-fluid {
  margin: 25px 0 25px;
}

.top-container {
  text-align: center;
  position: relative;
  padding-top: 100px;
  background-color: #cff4c6;
}

.title-text {
  margin: 50px auto;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 225px;
  width: 250px;
  height: auto;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 225px;
  width: 250px;
  height: auto;
}

.middle-container {
  text-align: center;
  margin: 100px 100px;
}

.skills {
  margin-top: 25px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 50px;
  text-align: left;
}

.intro {
  width: 50%;
  margin: auto;
}

.code-img {
  float: left;
  width: 25%;
  height: 200px;
  margin-right: 25px;
  border-radius: 100%;
  border-style: groove;
}

.chilli-img {
  float: right;
  width: 25%;
  height: 200px;
  border-radius: 100%;
  border-style: groove;
}

.carousel-fade {
  position: absolute;
  margin:50px auto;
  width:500px;
  height: 300px;
}

.contact-message {
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px auto;
}

.bottom-container {
  text-align: center;
  padding: 50px 0;
  background-color: #66BFBF;
}

.copyright {
  padding: 25px;
  color: DarkBlue;
  font-size: 1rem;
}

.d-block {
  border-style: groove;
}
