body {
  text-align: center;

  color: #40514E;

  font-family: 'Merriweather', serif;

}

h1 {
  color: #66BFBF;

  font-family: 'Great Vibes', cursive;

  font-size: 5rem;

}

h2 {
  padding-bottom: 25px;

  color: #66BFBB;

  font-family: 'Lobster Two', cursive;

  font-size: 2rem;

  font-weight: lighter;

}

h3 {
  color: #11999E;

  font-family: 'Lobster Two', cursive;

}

p {
  font-weight: bold;

  line-height: 2;

}

hr {
  margin: 50px auto;

  padding: inherit;

  border: dotted #EAF6F6 5px;

}

a{
  margin: 10px 10px;

  color: #11999E;

  font-family: 'Great Vibes', cursive;

}

a:hover {
  color: #EAF6F6;
}

.top-container {
  position: relative;

  padding-top: 100px;

  background-color: #E4F9F5;

}

.middle-container {
  margin: 100px 100px;
}

.bottom-container {
  padding: 50px 0;

  background-color: #66BFBF;

}

.skill-row {
  width: 50%;

  margin: 100px auto 100px auto;

  text-align: left;

}

.pro {
  text-decoration: underline;
}

.intro {
  width: 50%;

  margin: auto;

}

.contact-message {
  width: 50%;

  margin: 50px auto 50px auto;

}

.copyright {
  padding: 20px;

  color: DarkBlue;

  font-size: .75rem;

}

.top-cloud {
  position: absolute;

  top: 50px;

  right: 250px;

  width: 250px;

  height: auto;

}

.bottom-cloud {
  position: absolute;

  bottom: 300px;

  left: 250px;

  width: 250px;

  height: auto;

}


.code-img {
  float: left;

  width: 23%;

  height: 175px;

  margin-right: 25px;

}

.chilli-img {
  float: right;

  width: 25%;

}

.btn {
  padding: 10px 20px 10px 20px;

  text-decoration: none;

  color: #ffffff;

  -webkit-border-radius: 8;

  -moz-border-radius: 8;

  border-radius: 8px;

  background: #11cdd4;

  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);

  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);

  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);

  background-image: -o-linear-gradient(top, #11cdd4, #11999e);

  background-image: linear-gradient(to bottom, #11cdd4, #11999e);

  font-family: 'Montserrat', sans-serif;

  font-size: 20px;

}

.btn:hover {
  text-decoration: none;

  background: #30e3cb;

  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);

  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);

  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);

  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);

  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);

}
